encryption = "age"

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/age/key.txt"
    recipient = "age126732mgceh7cdfevzdv6tg63h00y2tmk2gza7dwvfu0jaa930aqs4lrln3"

# 由 bootstrap.sh / chezmoi init --source= 自动写入，后续 apply 不会丢失
source.dir = "{{ .chezmoi.sourceDir }}"
