sourceDir = "{{ .chezmoi.sourceDir }}"
encryption = "age"

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/age/key.txt"
    recipient = "age1fttec8ywascwaryecw2px23dqkjvwl58tqg540z5tvmu44tk3pfswkqfew"
